<div class="fixed top-0 z-50 right-0 left-0 bg-[#210038] text-[#f2e0ff] px-5 lg:px-20">
      <div class="flex h-16 items-center justify-between">

          <div class="flex items-center">
             <div class="mr-5">
                  <img class="w-8" [src]="logo1" alt="Code With Suber-IQ">
               </div>
                     <div class="flex space-x-4 items-center">
                          <a routerLink="/" class="text-[#f2e0ff]">
                            Shop with Suber-IQ
                          </a>
                          <div>
                            <button (click)="openNavbarContent('men')" mat-button color="secondary">Men</button>
                          </div>
                          <div>
                            <button (click)="openNavbarContent('women')" mat-button color="secondary">Women</button>
                          </div>
                     </div>
          </div>
          <div class="flex items-center">
              <button (click)="navigateTo('cart')" mat-icon-button>
                  <mat-icon>shopping_cart</mat-icon>
              </button>
              <button class="bg-[#390061] py-1 px-2 hover:bg-indigo-400 hover:text-indigo-200 transition-all duration-700 rounded-sm text-[#dfb3ff]">Log In</button>
              <div class="ml-3 flex items-center">
                  <div class="flex items-center space-x-5">
                      <span class="font-bold">Suber-IQ</span>
                      <button mat-button [matMenuTriggerFor]="profileMenu">
                        <img class="w-7 rounded-full" [src]="avtar" alt="avatar">
                      </button>
                      <mat-menu #profileMenu="matMenu">
                        <button mat-menu-item>Orders</button>
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item>Logout</button>
                      </mat-menu>
                  </div>
              </div>
          </div>
      </div>
</div>